<nav class="navbar bg-white border-bottom border-secundary mx-5 row ">
    <div class=" col-lg-4 col-md-3">
        <a class="navbar-brand " href="/">
            <img src="http://localhost:3000/public/images/logo.png" alt="" class="d-inline-block"
                style="border-radius: 10px;max-height: 3rem;">
            <img src="http://localhost:3000/public/images/letra.png" alt="" class="d-inline-block"
                style="max-height: 7rem;">
        </a>
    </div>
    <div class="col-lg-4 col-md-3">
        <a href="/all_roduct">
            <button type="button" class="btn btn-outline-primary rounded-pill" style="width:10rem">Explorar</button></a>
        <a href="/new">
            <button type="button" class="btn btn-primary rounded-pill" style="width:10rem">Subir
                producto</button>
        </a>
    </div>
</nav>